@font-face {
    font-family: "gotGam";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gotGam/gotGam.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gotGam/gotGam.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gotGam/gotGam.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gotGam/gotGam.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gotGam/gotGam.ttf") format("truetype");
    font-display: swap;
}
.gotGam {
    font-family: "gotGam";
}
